<div class="promo">
    <p>promo</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsam officiis quasi doloribus ratione deleniti vel, aspernatur ea, similique provident hic magnam distinctio nulla totam numquam dolorum animi, amet consequuntur.</p>
</div>