body {
  margin: 0;
  font: 100% Helvetica, sans-sherif;
  font-size: 20px;
}

.header {
  margin-top: 2%;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

html {
  background-image: url("/image/bg5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.promo {
  margin: 5% 15%;
  padding: 2% 4%;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}
.promo p:nth-child(1) {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
}
.promo p:nth-child(2) {
  text-align: justify;
}

.menu {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 15% 10%;
}
.menu .nama-menu {
  margin-top: 5%;
}
.menu .menu-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
}
.menu .menu-container .item-container {
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}
.menu .menu-container .item-container img {
  align-self: center;
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}
.menu .menu-container .item-container .item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10%;
}
.menu .menu-container .item-container .item-info .item-nama {
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background-color: white;
  margin: 15%;
  padding: 50px;
  border: 1px solid #888;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-content .close {
  position: fixed;
  align-self: flex-end;
  font-size: 32px;
}
.modal .modal-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}
.modal .modal-content .beli {
  padding: 2%;
  margin: 0 15%;
  background-color: #FFE5B4;
  border-radius: 32px;
}
.modal .modal-content .beli:active {
  background-color: rgb(255, 249, 240);
  transition: background-color 0.3s ease;
}

.hidden {
  display: none;
}

#itemModal {
  display: none;
}

#itemModal:not(.hidden) {
  display: flex;
}

.toggle {
  display: none;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.toggle .switch {
  --secondary-container: #a1a8e8;
  --primary: #603ac1;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}
.toggle .switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e27676;
  transition: 0.2s;
  border-radius: 30px;
}
.toggle .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #da5757;
  transition: 0.4s;
}
.toggle .switch input:checked + .slider::before {
  background-color: var(--primary);
}
.toggle .switch input:checked + .slider {
  background-color: var(--secondary-container);
}
.toggle .switch input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}
.toggle .switch input:checked + .slider:before {
  transform: translateX(1.9em);
}

.footer {
  margin-left: 10%;
  padding: 2% 0;
  font-weight: 700;
}

.checkout {
  position: fixed;
  background-color: #FFE5B4;
  padding: 1%;
  right: 0;
  bottom: 0;
  margin-right: 4%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 24px;
}

.checkout:active {
  background-color: rgb(255, 249, 240);
  transition: background-color 0.3s ease;
}

/*# sourceMappingURL=index.css.map */
