body {
    margin: 0;
    font: 100% $font-stack;
    font-size: $primary-font-size;
    
    .wrap {
        display: flex;
        flex-direction: row;

        .placeholder {
            display: none;
            height: 0
        }        

        .left {
            flex-basis: 70%;
            background-color: $primary-color;

            .left-top {
                width: 70%;
                position: fixed;
            }

            .left-bottom {
                z-index: 10;
                position: relative;
                margin-top: 60%;
                background-color: $secondary-color;
                border-top-left-radius: 32px;
                border-top-right-radius: 32px;

                .left-bottom-scroll {
                    max-height: 100vh;
                }

                .left-bottom-scroll.add {
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    max-height: 100vh;
                }
            }
        }
    
        .right {
            flex-basis: 30%;
        }
    }
}