.footer {
    margin: 0px;
    padding: 2%;
    padding-left: 10%;
    font-weight: 700;
    // width: 100%;
    background-color: $darkerRgba;
    color: white;
    padding-bottom: 15%;

    .author {
        font-weight: 500;
    }
}