// html {
//     width: 100%;
//     height: 100%;
//     --s: 100px;
//     --c1: #e89595;
//     --c2: #cccccc;
  
//     --_g: var(--c2) 5% 15%, var(--c1) 15% 25%, var(--c2) 25% 35%,
//       var(--c1) 35% 45%, var(--c2) 45% 55%, var(--c1) 55% 65%, var(--c2) 65% 75%,
//       var(--c1) 75% 85%, var(--c2) 85% 95%;
//     background: radial-gradient(
//         100% 100% at 100% 0,
//         var(--c1) 5%,
//         var(--_g),
//         #0008 95%,
//         #0000
//       ),
//       radial-gradient(
//           100% 100% at 0 100%,
//           #0000,
//           #0008 5%,
//           var(--_g),
//           var(--c1) 95%
//         )
//         var(--c1);
//     background-size: var(--s) var(--s);
// }
  
// html {
//     background-image: 'image/bg.jpg';
// }

html {
    // background-image: url("/image/bg.jpg");
    // background-image: url("/image/bg2.jpg");
    // background-image: url("/image/bg3.jpg");
    // background-image: url("/image/bg4.jpg");
    background-image: url("/image/bg5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    // height: 100vh;
}


// html {
//     width: 100%;
//     height: 100%;
//     --color: #f9f6ee;
//     background-color: #89cff0;
//     background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
//         linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
//     background-size: 55px 55px;
//   }  


// https://uiverse.io/marcelodolza/kind-panther-75