.promo-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $primary-color;
    margin-top: -3%;

    .promo {
        margin: 1% 10% 5%;
        padding: 1% 4%;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border: solid;
        overflow: hidden;
        flex-grow: 1;
    
        .promo-container {
            display: flex;
            transition: transform 0.5s ease-in-out;
            width: 100%;
    
            .promo-item {
                min-width: 100%;
                box-sizing: border-box;
                padding: 1% 6%;
                display: flex;
                flex-direction: column;
                gap: 5px;
    
                div:nth-child(1) {
                    margin-top: 10px;
                    font-size: 45px;
                    font-weight: 600;
                }
            
                div:nth-child(2) {
                    text-align: justify;
                    margin-bottom: 10px;
                    font-size: 28px;
                }
            }
        }
    }

    .promo-nav {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    
        &.prev {
            left: 0;
            margin-left: 2%;
        }
    
        &.next {
            right: 0;
            margin-right: 2%;
        }
    
        button {
            background-color: rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4px);
            border: none;
            border-radius: 9999px;
            color: white;
            padding: 10px;
        }
    }
}